extends layout.pug

include utils.pug

block content
    div(id='addAnswer-form')
        +validationErrorSummary(errors)
        div(class='addNEditHeaders')
            div(id='addAnAnswer') Add an answer:
        form(action='/answers' method='post')
            input(type='hidden' value=questionId name='questionId')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('', 'answer', null, 'textarea')

            div(id='answerButtons')
                button(type='submit' id='submitAnswer') Submit
                a(href='/' id='cancelAnswer') Cancel
