div(id='categories-bar')
    a(class="category" href='/categories/activity') Activity
    a(class="category" href='/categories/nutrition') Nutrition
    a(class="category" href='/categories/socialization') Socialization
    a(class="category" href='/categories/training') Training
    a(class="category" href='/categories/veterinary') Veterinary
    a(class="category" href='/categories/miscellaneous') Misc.