div(id='categories-bar')
    a(class="category" href='/health') Health
    a(class="category" href='/nutrition') Nutrition
    a(class="category" href='/activities') Activities
    a(class="category" href='/training') Training
    a(class="category" href='/social') Social
