include navigation-bar.pug

block content
    div(id='welcome-petFilter')
        div(id='welcome') Welcome User
        include petType.pug
    div(id='categories-questionFeed')
        include categories.pug
        include question-feed.pug
