div(id='nav-bar')
    img(src='/images/PetWorksLogo.png' width=100 height=100)
    form(action='/questions/new' method='get')
        button(type='submit' id='addQuestionButton') Ask a Question
    div(id='home-logout')
        form(action='/' method='get')
            button(type='submit' id='homeButton') Home
        //- a(href="/") Home
        if locals.authenticated
            form(action='/user/logout' method='post')
                button(type='submit' id='logoutButton') Log Out
        else 
            form(action='/user/login' method='get')
                button(type='submit' id='loginButton') Log In
            form(action='/user/register' method='get')
                button(type='submit' id='registerButton') Register
            form(action='/user/guest' method='post')
                button(type='submit' id='guestButton') Log in as guest
