div(id='nav-bar')
    div
        img(src='/images/PetWorks_puppy.png' id='puppy-pic')
        img(src='/images/PetWorksLogo.png' id='petWorks')
    form(action='/questions/new' method='get')
        button(type='submit' id='addQuestionButton') Ask a Question
    div(id='home-logout')
        form(action='/' method='get')
            button(type='submit' id='homeButton') Home
        form(action='/user/logout' method='post')
            button(type='submit' id='logoutButton') Log Out
