div(id='nav-bar')
    div.navChild
        a(href='/')
<<<<<<< HEAD
            img(src='/images/PetWorks_puppy.png' id='puppy-pic')
            img(src='/images/PetWorksLogo.png' id='petWorks')
=======
            img(src='/images/PetWorks_puppy.png' id='puppy-pic' class='puppy-pic-logo')
        img(src='/images/PetWorksLogo.png' id='petWorks')
>>>>>>> 58c3a96d0dfe8ccf6fc79052d7d6aeaf1bfc2aac
    form(action='/questions/new' method='get' class="navChild")
        button(type='submit' id='addQuestionButton') Ask a Question
    div(id='home-logout' class="navChild")
        form(action='/' method='get')
            button(type='submit' class='navButton' id='homeButton') Home
        if locals.authenticated
            form(action='/user/logout' method='post')
                button(type='submit' class='navButton' id='logoutButton') Log Out
        else
            form(action='/user/register' method='get')
                button(type='submit' class='navButton' id='registerButton') Register
            form(action='/user/login' method='get')
                button(type='submit' class='navButton' id='loginButton') Log In
            form(action='/user/guest' method='post')
                button(type='submit' class='navButton' id='guestButton') Log in as guest
