div(id='petFilter')
    button(type='button' class='filter-btn filterButtonClicked' id='all') All
    button(type='button' class='filter-btn filterButtonUnclicked' id='dog') Dogs
    button(type='button' class='filter-btn filterButtonUnclicked' id='cat') Cats
    button(type='button' class='filter-btn filterButtonUnclicked' id='other') Other
    button(type='button' class='filter-btn filterButtonUnclicked' id='myQuestions') My Questions
