div(id='petFilter')
    button(type='button' class='filter-btn') Dogs
    button(type='button' class='filter-btn') Cats
    button(type='button' class='filter-btn') Other
    button(type='button' class='filter-btn') My Questions
