div(id='petFilter')
<<<<<<< HEAD
    button(type='button' class='filter-btn filterButtonClicked' id='all') All
    button(type='button' class='filter-btn filterButtonUnclicked' id='dog') Dogs
    button(type='button' class='filter-btn filterButtonUnclicked' id='cat') Cats
    button(type='button' class='filter-btn filterButtonUnclicked' id='other') Other
    button(type='button' class='filter-btn filterButtonUnclicked' id='myQuestions') My Questions
=======
    button(type='button' class='filter-btn selected' id='all') All
    button(type='button' class='filter-btn' id='dog') Dogs
    button(type='button' class='filter-btn' id='cat') Cats
    button(type='button' class='filter-btn' id='other') Other
    button(type='button' class='filter-btn' id='myQuestions') My Questions

>>>>>>> main
