div(id='petFilter')
    button(type='button' class='filter-btn' id='all') All
    button(type='button' class='filter-btn' id='dog') Dogs
    button(type='button' class='filter-btn' id='cat') Cats
    button(type='button' class='filter-btn' id='other') Other
    button(type='button' class='filter-btn' id='myQuestions') My Questions

