div(id='questionFeed')
    each question in questions
        label(class='question')
            a(href=`/questions/${question.id}` class='questionText')= question.question
        if question.userId === userId
            div
                a(href=`/questions/${question.id}/edit` id='editQuestion') Edit
                a(href='/answers/:id/delete' id='deleteQuestion') Delete
