extends layout.pug
include utils.pug

block content
    div(id='questionsFlex')
        +validationErrorSummary(errors)
        form(action='/questions' method='post') Ask a Question:
            input(type='hidden' name='_csrf' value=csrfToken)
            div Username asks
            +field('Question', 'question', null, 'textarea')
            label(name='categories' for='categorySelect') Choose a Category:
                select(name='categorySelect')
                    option(value='health') Health
                    option(value='nutrition') Nutrition
                    option(value='activities') Activities
                    option(value='training') Training
                    option(value='social') Social
            label(name='petTypes' for='petSelect') Choose a Pet Type:
                select(name='petSelect')
                    option(value='dog') Dog
                    option(value='cat') Cat
                    option(value='other') Other

            div(class='py-4')
                button(type='submit' class='btn btn-primary') Submit
                a(href='/' class='btn btn-warning ml-2') Cancel
